<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Speedlify</title>
		<meta name="description" content="Benchmark web pages over time.">
		<link rel="stylesheet" href="/style.css">
		<link rel="stylesheet" href="/chartist.css">
		<script>
		document.documentElement.classList.add("js");
		</script>
	</head>
	<body>
		<h1 class="speedlify-hed"><a href="/">performancescan</a> {% if vertical %}:{{ vertical }}{% endif %}</h1>
		<p class="speedlify-subhed">
			Benchmark {{ sites[vertical].description or "web pages" }} in de loop van de tijd.
			
			 </p>

		{{ content | safe }}

		<footer style="font-size:10px;color:#616161;">
			MIT licensed. 
			Created by <a style="color:#616161;" href="https://www.zachleat.com/">@zachleat</a>.
		</footer>

		<script src="/chartist.js"></script>
		<script src="/chart.js"></script>
	</body>
</html>